<router-outlet></router-outlet>
<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#fff"
  type="square-jelly-box"
  [fullScreen]="true"
  ><p style="color: white">Procesando...</p></ngx-spinner
>

<!-- 
<calcite-shell contentBehind=false>
	<calcite-shell-panel slot="panel-start" display-mode="float">
		<calcite-action-bar slot="action-bar">
			<calcite-action text="Add" active icon="plus"></calcite-action>
			<calcite-action text="Save" disabled icon="save"></calcite-action>
			<calcite-action text="Layers" icon="layers"></calcite-action>
		</calcite-action-bar>
		
	</calcite-shell-panel>
	<calcite-shell-panel slot="panel-end" position="end" collapsed=true expandDisabled=true>
		<calcite-action-bar slot="action-bar">
			<calcite-action data-action-id="print" icon="print" text="Print"></calcite-action>
			<calcite-action data-action-id="information" icon="information" text="Information"></calcite-action>
		</calcite-action-bar>

	</calcite-shell-panel>
</calcite-shell>
<div id="viewDiv" #mapViewNode></div> 
 -->
