<app-layer></app-layer>
<!-- 
<app-basemap></app-basemap>
<app-book-mark></app-book-mark>
<app-coordinate-conversion></app-coordinate-conversion>
<app-export-map></app-export-map>
<app-full-extent></app-full-extent>
<app-home></app-home>
<app-import></app-import>
<app-information></app-information>
<app-layer></app-layer>
<app-legend></app-legend>
<app-locate></app-locate>
<app-measure></app-measure>
<app-pan></app-pan>
<app-print></app-print>
<app-time-slider></app-time-slider>
<app-zoom-in></app-zoom-in>
<app-zoom-out></app-zoom-out>
<app-zoom-to></app-zoom-to> -->
<!-- 

<calcite-action data-action-id="basemaps" icon="basemap" text="Basemaps"></calcite-action>
<calcite-action data-action-id="legend" icon="legend" text="Legend"></calcite-action>
<calcite-action data-action-id="bookmarks" icon="bookmark" text="Bookmarks"></calcite-action>
<calcite-action data-action-id="print" icon="print" text="Print"></calcite-action>
<calcite-action data-action-id="import" icon="import" text="Import"></calcite-action> -->